node_modules
.next
.build
out
dist
build
.DS_Store
*.log
.git
.gitignore
.vscode
.idea
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
DEPLOY_README.md
DOCKER_README.md
Dockerfile
.dockerignore
docker-compose.yml
.deploy
tsconfig.tsbuildinfo
public/mechdash-app.zip
